---
title: Program
layout: page
root: '../'
---

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Overview
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">Sunday Afternoon Beach Ceremony</h3>
      </div>
    </div>
    <div class="content is-medium">
    <div class="columns is-multiline is-mobile">
      <div class="column is-1-desktop is-2-tablet is-3-mobile">2pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">First bus departs Petit Ermitage Hotel for the beach</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">3pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Second (last) bus departs Petit Ermitage</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">4:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Ceremony begins promptly</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">5:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">First bus departs beach for Petit Ermitage</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">6:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Second (last) bus departs beach</div>
    </div>
    </div>
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">Sunday Evening Dinner and Soirée at Petit Ermitage</h3>
      </div>
    </div>
    <div class="content is-medium">
    <div class="columns is-multiline is-mobile">
      <div class="column is-1-desktop is-2-tablet is-3-mobile">7pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Bar opens for pre-dinner drinks</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">8pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Dinner on the Firedeck followed by music and celebration</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">12:30am</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Last call at the bar, last songs of the night</div>
    </div>
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Ceremony
      </h1>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">
    <div class="content is-medium">
      <p>Children are welcome to the ceremony. The ceremony will take place on a public beach in
      Santa Monica, special to us because we live nearby and enjoy walks and sunsets here. The beach
      has vehicle access via the Pacific Coast Highway. On foot, you can reach it by pedestrian
      paths involving stairs accessed at several points on Ocean Avenue and walking bridges over
      the PCH. 
      </p>

      <p>There will be three on-site coordinators who will do their best to manage the space. However,
      as it is a public beach, we cannot prevent beachgoers from walking past or observing. We
      simply hope to have them do so respectfully.
      </p>

      <h3 class="title is-3">Where?</h3>
      <p>
      The ceremony is taking place on the public beach in front of Annenberg Beach House located
      at {{ site.data.places.beach.address }}. Transportation will be provided from the hotel to the beach and back.
      </p>
      <div class="columns">
        <div class="column">
          {% include map.html q=site.data.places.beach.q %}
        </div>
        <div class="column">
        <a href="{{ page.root }}img/beach_location.png" target="_blank">
        <img src="{{ page.root }}img/beach_location.png" />
        </a>
        </div>
      </div>

      <p>
There is a long pathway which leads right up to the shore where the ceremony will take place. The ceremony itself is set up on the sand, and there will be a place to leave your shoes if you don’t want to carry them.
</p>
<p>
There is a parking lot indicated in the photo above for those who drive on their own. All beach parking tends to fill up on weekends, so please plan to arrive early. From the parking lot, make your way towards the ocean and you will see the pathway.

</p>
<p>
If you are early, the <a href="http://backonthebeachcafe.com" target="_blank">Back on the Beach Cafe</a> is located in the spot where the pathway begins so you can have a drink or a snack while you wait.
</p>

      <h3 class="title is-3">When?</h3>
    <div class="columns is-multiline is-mobile">
      <div class="column is-1-desktop is-2-tablet is-3-mobile">2pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">First bus departs from Petit
        Ermitage Hotel to the beach.</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">3pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">
        Second bus departs from Petit Ermitage Hotel to the beach. Exact time may vary slightly
      depending on traffic from the first run. 
      </div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">3:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">
        Seating will be set up at the beach and bottled water provided for guests.
      </div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">4:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">
        Ceremony begins with no delays (as per the agreement involved with using a public
      beach). 
      </div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">5:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">First bus departs beach for Petit
        Ermitage.</div>
      <div class="column is-1-desktop is-2-tablet is-3-mobile">6:30pm</div>
      <div class="column is-11-desktop is-10-tablet is-9-mobile">Second (last) bus departs beach
        for Petit Ermitage, again the exact time may vary depending on traffic.</div>
    </div>
    </div>
  </div>
</section>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dinner &amp; Soirée
      </h1>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">
    <div class="content is-medium">
    <p>
      We regret no children at the dinner and soirée. Childcare can be arranged through the hotel with
advanced notice. Please contact the hotel directly.
    </p>

      <h3 class="title is-3">Where?</h3>

      <p>
      Petit Ermitage Hotel, located at {{ site.data.places.hermitage.address}}, on their Private Rooftop (4th floor). Mention the wedding when you arrive at the
front desk. Rooftop can be accessed by elevator or stairs.
      </p>
      <div class="columns">
        <div class="column">
          {% include map.html q=site.data.places.hermitage.q %}
        </div>
        <div class="column">
          <img src="{{ page.root }}img/petite_street.jpg">
        </div>
      </div>

      <h3 class="title is-3">When?</h3>

      <p>
Pre-dinner drinks (open bar) starting at 7pm. Dinner at 8pm. Music, mingling, and celebration
until the bar has last call at 12:30am.
      </p>
    </div>
  </div>
</section>

