<doctype html>
<html>
  <head>
    <title>
      Andy + Taya
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ page.root }}favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ page.root }}css/style.css">
    <script type="text/javascript">
      function toggleNav() {
        var el = document.getElementById('mainnav');
        el.classList.toggle('is-active');
      }
    </script>
  </head>
  <body>
  {% assign page_titles = "Our Story, Wedding, Travel, Program, Registry" | split: ", " %}
  {% assign page_urls = "index.html , wedding/index.html, travel/index.html, program/index.html, registry/index.html" | split: ", " %}
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item nav-logo" href="{{ page.root }}index.html">
          <img src="{{ page.root }}img/logo.svg" />
        </a>
      </div>
      <span class="nav-toggle" onclick="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu" id="mainnav">
        {% for i in (0..page_titles.size) limit:page_titles.size %}
          {% if page.title == page_titles[i] %}
            <a class="nav-item is-tab is-active" href="{{ page.root }}{{ page_urls[i] }}">
              {{ page_titles[i] }}
            </a>
          {% else %}
            <a class="nav-item" href="{{ page.root }}{{ page_urls[i] }}">
              {{ page_titles[i] }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    {{ content }}

    <footer class="footer level">
      <div class="level-item has-text-centered">
        <div class="content is-medium">
          <p><a href="{{ page.root }}index.html">Our Story</a></p>
          <p><a href="{{ page.root }}wedding/index.html">Wedding</a></p>
          <p><a href="{{ page.root }}photos/index.html">Photos</a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <img src="{{ page.root }}img/logo_white.svg">
      </div>
      <div class="level-item has-text-centered">
        <div class="content is-medium">
          <p><a href="{{ page.root }}travel/index.html">Travel</a></p>
          <p><a href="{{ page.root }}program/index.html">Program</a></p>
          <p><a href="{{ page.root }}registry/index.html">Registry</a></p>
      </div>
    </footer>
  </body>
</html>
