<doctype html>
<html>
  <head>
    <title>
      Andy + Taya
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
  </head>
  <body>
    <div class="cook template">
      <header class="header themecolor-purple themefont-neutral">
        <div class="container-lrg">
          <div class="col-12 spread">
            <div>
              <a class="logo">
                Andy + Taya
              </a>
            </div>
            <div>
              <a class="nav-link" href="#">
                Twitter
              </a>
              <a class="nav-link" href="#">
                Facebook
              </a>
            </div>
          </div>
        </div>
        <div class="container-lrg flex">
          <div class="col-5">
            <h1 class="heading">
              Instantly search domains, handles and logotypes.
            </h1>
          </div>
          <div class="col-7">
            <h2 class="paragraph">
              We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.
            </h2>
            <div class="ctas">
              <a class="ctas-button" href="">
                Sign Up
              </a>
            </div>
          </div>
        </div>
        <div class="container-lrg">
          <div class="centerdevices col-12">
            <div class="browserwrapper">
              <div class="browser">
                <div class="mask">
                  <img class="mask-img" src="img/webapp.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    {{ content }}
    <div class="footer">
      <div class="container-sml flex text-center">
        <div class="col-12">
          <h3 class="heading">
            Instantly search domains, handles and logotypes.
          </h3>
          <div class="ctas">
            <a class="ctas-button" href="">
              Sign Up
            </a>
            <a class="ctas-button-2" href="">
              Sign Up
            </a>
          </div>
        </div>
      </div>
      <div class="container-lrg footer-nav flex">
        <div class="col-3 vertical">
          <a class="logo">
            Launchaco
          </a>
          <a class="nav-link2">
            ©2016 Compute.Studio
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            About
          </a>
          <a class="nav-link2">
            Features
          </a>
          <a class="nav-link2">
            Pricing
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            Twitter
          </a>
          <a class="nav-link2">
            Facebook
          </a>
          <a class="nav-link2">
            Contact
          </a>
        </div>
        <div class="col-3 vertical">
          <a class="nav-link2">
            123 Address lane #708, 90210, California, United States of America
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
